body {
  background: url("../img/BNL.jpg");
  font-family: 'Lora', serif;
}

h1 {
  margin: 15px auto;
  text-align: center;
  font-weight: 700;
}

h3 {
  font-weight: 300;
}

.input-box {
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: thin;
  padding: 5px;
  text-align: left;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: thin;
  padding: 5px;
  text-align: left;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}

img {
  vertical-align: top;
}
